In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(r"C:\Users\assua\OneDrive\Documents\Class\World_Weather_Analysis\weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Te Anau,NZ,2022-05-01 08:57:53,-45.4167,167.7167,52.32,92,83,2.86
1,1,Punta Arenas,CL,2022-05-01 08:57:53,-53.1500,-70.9167,42.91,87,75,6.91
2,2,Opuwo,NaN,2022-05-01 08:57:54,-18.0607,13.8400,77.45,35,39,13.82
3,3,Ushuaia,AR,2022-05-01 08:57:54,-54.8000,-68.3000,44.26,70,75,19.57
4,4,Mataura,NZ,2022-05-01 08:57:55,-46.1927,168.8643,52.48,100,100,1.12

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(gmaps.heatmap_layer(locations, weights=temps))
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(gmaps.heatmap_layer(locations, weights=temps))
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(gmaps.heatmap_layer(locations, weights=temps))
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=
            [max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(gmaps.heatmap_layer(locations, weights=temps))
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Opuwo,NaN,2022-05-01 08:57:54,-18.0607,13.8400,77.45,35,39,13.82
6,6,Bambous Virieux,MU,2022-05-01 08:57:56,-20.3428,57.7575,82.22,78,40,10.36
10,10,Road Town,VG,2022-05-01 08:57:59,18.4167,-64.6167,78.22,80,100,12.28
14,14,Rikitea,PF,2022-05-01 08:58:01,-23.1203,-134.9692,76.53,75,79,12.08
18,18,Sambava,MG,2022-05-01 08:54:24,-14.2667,50.1667,81.68,72,15,9.66
19,19,Cockburn Town,TC,2022-05-01 08:58:03,21.4612,-71.1419,76.87,69,99,20.58
22,22,Kishtwar,IN,2022-05-01 08:58:05,33.3167,75.7667,81.00,28,47,7.83
25,25,Saint-Joseph,RE,2022-05-01 08:58:06,-21.3667,55.6167,82.78,74,26,6.35
39,39,Muli,MV,2022-05-01 08:58:14,2.9167,73.5667,85.05,75,92,18.88
40,40,Butaritari,KI,2022-05-01 08:58:15,3.0707,172.7902,80.98,80,100,11.99

In [15]:
preferred_cities_df.count()

City_ID       149
City          149
Country       146
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

# Map Vacation Criteria

# Get Travel Destinations

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2             Opuwo     NaN     77.45 -18.0607   13.8400
6   Bambous Virieux      MU     82.22 -20.3428   57.7575
10        Road Town      VG     78.22  18.4167  -64.6167
14          Rikitea      PF     76.53 -23.1203 -134.9692
18          Sambava      MG     81.68 -14.2667   50.1667
19    Cockburn Town      TC     76.87  21.4612  -71.1419
22         Kishtwar      IN     81.00  33.3167   75.7667
25     Saint-Joseph      RE     82.78 -21.3667   55.6167
39             Muli      MV     85.05   2.9167   73.5667
40       Butaritari      KI     80.98   3.0707  172.7902

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
     #Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Opuwo,NaN,77.45,-18.0607,13.8400,ABBA Guesthouse
6,Bambous Virieux,MU,82.22,-20.3428,57.7575,Casa Tia Villa
10,Road Town,VG,78.22,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
14,Rikitea,PF,76.53,-23.1203,-134.9692,People ThankYou
18,Sambava,MG,81.68,-14.2667,50.1667,Melrose
19,Cockburn Town,TC,76.87,21.4612,-71.1419,Osprey Beach Hotel
22,Kishtwar,IN,81.00,33.3167,75.7667,Heritage Bagh by Himalayan Musk
25,Saint-Joseph,RE,82.78,-21.3667,55.6167,"""Plantation Bed and Breakfast"
39,Muli,MV,85.05,2.9167,73.5667,Medhufushi Island Resort
40,Butaritari,KI,80.98,3.0707,172.7902,Isles Sunset Lodge

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))